<div class="container">
    <div class="row ">
        <div class="banner col s12 ">
            <a href="/"><img src="../images/aseatedcommute.png" alt="" class="responsive-img"></a>
        </div>
    </div>
</div>
