<!DOCTYPE html>
<html lang="en">

<!-- ###### HEAD ####### -->
<%- include("head") %>

<body>
    <!-- ###### NAV BAR ####### -->
    <%- include("nav") %>

    <main>
        <%- include("banner") %>
    </main>

    <!-- ###### FOOTER ####### -->
    <%- include("footer") %>

    <!-- ###### JAVASCRIPT SCRIPTS ####### -->
    <script type="text/javascript" src="js/init.js"></script>
    <script type="text/javascript" src="js/helperFunctions-1.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
<!-- Copyright David Shin 2016
All Rights Reserved -->
