<!-- ###### FOOTER ####### -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <!-- <div class="col l4 offset-l2 s12"> -->
            <div class="col s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/instructions">Instructions</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright David Shin
        </div>
    </div>
</footer>
