.btn {
  /*margin: 1px;*/
  /*background-color: #3E6B8D;*/
  background-color: #016592;
  border-radius: 20px;
}

/*Makes a sticky footer - footer will stay at bottom of page*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

html {
    background-color: #ddd;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 15px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

nav {
  /*background-color: #19374E*/
  background-color: #0A1D2B
}

footer.page-footer {
  /*background-color: #0A1D2B*/
  background-color: #19374E
}
footer.page-footer .footer-copyright {
  /*background-color: #19374E*/
  background-color: #0A1D2B
}

.row {
  margin-bottom: 0;
}

.pnt0 {
  margin-bottom: 10px;
}

.banner {
    margin-top: 1.5em;
    /*position: relative;*/
}

img {
    display: block;
    margin: auto;
}

.destination {
  padding: 0 12;
}

.bartTime {
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
  /*width: 100px;*/
  height: 100px;
  font-size: 50px;
}

.forSquare {
  width: 20px;
  height: 20px;
  /*background-color: blue;*/
  border-radius: 50%;
  border: thin solid black;
  margin: 0 auto;
  float: left;
}

.forTime {
  padding-left: 5px;
  float: left;
  margin-bottom: 20px;
}

.report {
  /*margin: initial;*/
  margin: 0;
}

/*Copyright David Shin 2017
All Rights Reserved*/
